/* /////---------------------

	Global CSS

/////---------------------- */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);


body {
	font-family: "Noto Sans", sans-serif;
	margin: 0 auto;
	padding: 0;
}

/* /////---------------------

	top-static navbar

/////---------------------- */

.top-static-navbar {
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #364A5A;
}

.navbar-brand {
	width: 200px;
	height: 100%;
	padding: 18px 0 0 35px;
	background-color: #FF7200;
	color: white;
	font-size: 26px;
}

.dropdown-hamburger {
	height: 50px;
	width: 50px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	background-image: url(http://stepupdate.com/assets/svg/icon-hamburger.svg);
	background-size: cover;
}

/* mobile menu */

.dropdown-mobile-menu {
	display: none;
	width: 100%;
	padding: 0;
	background-color: #457092;
}

.dropdown-mobile-menu ul, .inline-navigation ul {
	margin: 0;
	padding: 0;
}

.dropdown-menu-button, .nav-button {
	margin: 0;
	list-style: none;
	text-align: center;
}

.dropdown-menu-button a {
	display: block;
	font-size: 16px;
	padding: 12px;
	text-decoration: none;
	border-top: 1px solid #364A5A;
	color: white;
}

.dropdown-menu-button:hover a, .nav-button:hover a {
	text-decoration: none;
	color: white;
	background-color: #364A5A;
}

/* inline-navigation */

.inline-navigation {
	height: 100%;
}

.nav-button {
	display: inline-block;
}

.nav-button a {
	display: inline-block;
    min-width: 130px;
    padding: 10px;
    margin: 10px 0 0 8px;
    color: white;
}

.nav-button:hover a {
	background-color: #FF7200;
}

/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */

.homepage.row {
	background-color: #E6E9EC;
}

/* /////---------------------

	carousel

/////---------------------- */

.carousel-inner .item:first-child, .carousel-inner .item:nth-child(2), .carousel-inner .item:nth-child(3), .carousel-inner .item:nth-child(4) {
	height: 350px;
	background-size: cover;
}

.carousel-inner .item:first-child {
	background-image: url(http://i.imgur.com/hMGQwDJ.jpg?1);
}

.carousel-inner .item:nth-child(2){
	background-image: url(http://i.imgur.com/NAmFwJy.jpg?1);
}

.carousel-inner .item:nth-child(3) {
	background-image: url(http://i.imgur.com/pwcAheH.jpg?1);
}

.carousel-inner .item:nth-child(4) {
	background-image: url(http://i.imgur.com/509f8cf.png?1);
}

.carousel-image-overlay {
	position: absolute;
	top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.35);
}

.carousel-caption {
	top: 75px;
    height: 215px;
    padding: 0;
    background-color: #F00;
    min-width: 220px;
}
.carousel-indicators {
	position: static;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
    background-color: #364A5A;
}
.carousel-indicators .active {
	background-color: #FF7200;
	border-color: #FF7200;
}


/* /////---------------------

	Section-panel 

/////---------------------- */

.first.section-panel {
	padding-top: 20px;
}

.panel-title {
	font-size: 26px;
    color: #364A5A;
    text-align: center;
}

.panel-default>.panel-heading, .panel-heading {
	padding: 25px;
	width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #D85F22; 
	background-color: white;
}

.first.panel-heading {
	border-bottom: 2px solid #D85F22;
}

.panel-body {
	padding: 20px 25px 25px 25px;
    font-size: 15px;
    color: #364A5A;
    line-height: 22px;
}

.hidden-text {
	display: none;
}

.text-visibility-button {
	width: 75px;
    margin: 20px 0 0 auto;
	font-size: 12px;
    padding: 5px;
	border-radius: 4px;
    background-color: #D85F22;
    text-align: center;
    color: white;
}

.text-visibility-button:hover {
	color: #D85F22;
	background-color: #364A5A;
}


/* /////---------------------

	Quick-links navigation

/////---------------------- */

.quick-links-panel {
	position: relative;
}

.quick-links.anchor-button {
	display: block;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.quick-links.panel-heading {
	padding: 0;
	border-bottom: 2px solid #D85F22;
}

 .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.quick-links.accordion {
	margin: 20px auto;
	max-width: 350px;
}

.fixed-accordion {
	position: fixed;
	top: 0;
	width: 30%;
}

/* -------------------------------------
 * Headline Panel, Banner
 * ------------------------------------- */


.banner.background-image {
	height: 100%;
	width: 100%;
	background-image: url('http://i.imgur.com/uUwXVQ4.jpg?1');
	background-size: cover;
	background-position: center;
}

.timeline.banner.background-image {
	background-image: url('http://i.imgur.com/jD6tOT3.jpg?1');
}

.brewing.banner.background-image {
	background-image: url('http://i.imgur.com/S1U3FgR.jpg?1');
}

.classifications.banner.background-image {
	background-image: url('http://i.imgur.com/9YRv6HU.jpg?1');
}


/* -------------------------------------
 * Sections
 * ------------------------------------- */


.body li {
	width: 100%;
	list-style: none;
    margin: 10px auto;
}

strong {
	font-size: 17px;
	color: #263644
}


.sub-section-text-button {
	font-size: 14px;
	padding: 5px;
	color: #D85F22;
	width: 100px;
	margin: 0 15px 0 auto;
}
.sub-section-text-button:hover {
	color: #364A5A;
}

/* Individual sections, titles */

.about.top-section, .timeline.top-section, .brewing.top-section, .beer-types.top-section, .beer-styles.top-section, .brewing-gallery.top-section {
	background-color: #F5F4F4;
	padding: 0;
	width: 100%;
}

.about.title, .timeline.title, .brewing.title, .beer-types.title, .beer-styles.title {
	padding: 20px 15px 25px;
	margin: 0;
	border-bottom: 2px #D85F22 solid;
	text-align: center;
}


/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */





/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */





/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Timelime CSS */

.timeline-prompt {
	display: none;
	padding: 5px;
    margin: 50px auto 0 auto;
    width: 330px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #364A5A;
    border: 2px solid #D9D9D9
}

.timeline-container {
 	overflow: scroll;
 }

/* -------------------------------------
 * timeline
 * ------------------------------------- */

.beer-timeline {
	list-style: none;
	margin: 50px 0 30px 0px;
	margin-left: 10%;
	padding-left: 30px;
	border-left: 8px solid #D9D9D9;
}

/* -------------------------------------
 * Snapshot
 * ------------------------------------- */

.snapshot {
	width: 95%;
	margin: 50px 0;
	position: relative;
}

/* -------------------------------------
 * radio
 * ------------------------------------- */

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  text-align: center;
  transform: translateX(34px);
}

.radio:checked + .relative .circle {
  background: #FFA500;
}

.radio:checked ~ .snapshot-content {
  max-height: 380px;
  max-width: 280px;
  border-color: #364A5A;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .snapshot-content p {
  max-height: 360px;
  color: #364A5A;
  transition: color 0.3s linear 0.3s;
}
/* -------------------------------------
 * Relative, Label, Date, Circle
 * ------------------------------------- */
label {
	position: absolute;
	display: block;
	width: 180px;
	top: 15px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	z-index: 100;
	cursor: pointer;
	border: 2px solid #D9D9D9;
	background-color: #FFA500;
	transform: translateX(18px);
	transition: transform 0.2s linear;
}

label:hover {
	background-color: #364A5A;
	color: white;
}

.date {
	position: absolute;
	width: 67px;
	padding: 2px;
	left: 20px;
    top: -25px;
	font-size: 14px;
	text-align: center; 
	line-height: 20px;
	background-color: #D9D9D9;
}


.circle {
  margin-top: -10px;
  top: 50%;
  left: -43px;
  width: 10px;
  height: 10px;
  background: #364A5A;
  border: 4px solid #364A5A;
  border-radius: 50%;
  display: block;
  position: absolute;
}

/* -------------------------------------
 * Snapshot-content, p
 * ------------------------------------- */

 .snapshot-content {
	max-height: 20px;
	padding: 50px 10px 0;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.5em;
	position: relative;
}

.snapshot-content:before, .snapshot-content:after {
	content: "";
	width: 0;
	height: 0;
	border: solid transparent;
	position: absolute;
	pointer-events: none;
	right: 100%;
}

.snapshot-content:before {
	border-right-color: inherit;
	border-width: 20px;
	top: 50%;
	margin-top: -20px;
}

.snapshot-content:after {
	border-right-color: #FFA500;
	border-width: 17px;
	top: 50%;
	margin-top: -17px;
}

.snapshot-content p {
  max-height: 0;
  margin: 0 0 15px;
  font-size: 14px;
  color: transparent;
  overflow: hidden;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Beer Brewing Slider Gallery  CSS */


.brewing-process-gallery {
	position: relative;
    margin: 0px auto 50px auto;
    width: 100%;
    padding: 0;
    background: #F5F4F4;
}

.slider-wrapper {
	position: relative;
	width: 275px;
	height: 500px;
	margin: 0 auto;
	background: #F5F4F4;
	overflow: hidden;
}

.slider {
	position: absolute;
	width: 1000em;
	left: 0;
}

.gallery-button {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 28px;
	background: url(http://i.stack.imgur.com/tuKVp.gif) no-repeat center center;
}

.arrow-left {
	left: -16px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.arrow-right {
	right: -16px;
}

/* -------------------------------------
 * Beer Brewing Slider Card
 * ------------------------------------- */

.slide-card {
	/* OuterWidth = width + margin-right (for slider animation) */
    position: relative;
    float: left;
    width: 273px;
    margin-top: 25px;
    margin-right: 200px;
    background-color: white;
    color: #364A5A;
    height: 450px;
    border: 1px solid #D85F22;
}

.step-title {
	width: 35%;
    background-color: #D85F22;
    color: white;
    text-align: center;
    padding-bottom: 4px;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.step-name {
	margin: 10px auto;
    width: 75%;
    background-color: #364A5A;
    color: white;
    text-align: center;
    padding-bottom: 4px;
}

.step-description {
	font-size: 15px;
	padding: 2.5% 5%;
}

/* -------------------------------------
 * Media Queries
 * ------------------------------------- */

 @media (min-width: 500px) {
 	.carousel-inner .item:first-child, .carousel-inner .item:nth-child(2), .carousel-inner .item:nth-child(3), .carousel-inner .item:nth-child(4) {
 		height: 400px;
 	}

 	.carousel-caption {
		height: 265px;
	}

	.carousel-caption h3 {
		font-size: 34px;
	}

	.carousel-caption p {
		font-size: 18px;
	}
 }


@media (min-width: 620px) {



	.timeline-prompt {
		display: block;
	}

	.timeline-container {
		margin-bottom: 50px;
		height: 500px;
		border-bottom: 2px solid #D9D9D9;
	}

	.beer-timeline {
		margin: 120px 0 0;
		padding: 0;
		border-top: 8px solid #D9D9D9;
		display: table;
		border-spacing: 30px 0;
	}

	.snapshot {
		display: table-cell;
	}

	.snapshot.relative {
		position: relative;
	}

	.date {
		text-align: center;
		top: -55px;
		left: 80px;
		right: 0;
	}

	.circle {
		margin: 0 auto;
		top: -14px;
		left: 0;
		right: 0;
	}

	.snapshot-content {
		width: 200px;
		max-height: 0;
		margin-top: 40px;
		vertical-align: top;
		padding: 50px 15px 15px;
		transition: width 0.4s linear, max-height 0.4s linear;
		border-width: 2px;
		border-style: solid;
		border-radius: 0.5em;
		position: relative;
	}
	.snapshot-content:before, .snapshot-content:after {
		content: "";
		width: 0;
		height: 0;
		border: solid transparent;
		position: absolute;
		pointer-events: none;
		bottom: 100%;
	}
	.snapshot-content:before {
		border-bottom-color: inherit;
		border-width: 17px;
		left: 50%;
		top: -15px;
		margin-left: -25px;
	}
	.snapshot-content:after {
		border-bottom-color: #FFA500;
		border-width: 15px;
		left: 41%;
		top: -13px;
		margin-left: 5px;
	}

	label {
		top: 60px;
		left: 15px;
	}

	.radio:checked + .relative label {
		cursor: auto;
		width: 75%;
		transition: width 0.3s linear 0.2s;
	}

	.radio:checked ~ .snapshot-content {
		max-height: 250px;
		width: 400px;
	}
	.radio:checked ~ .snapshot-content p {
	 	max-height: 250px;
	}

	.slider-wrapper {
		width: 375px;
	}

	.slide-card {
		width: 373px;
		margin-right: 100px;
	}

	.beer-assessment.sub-section-text-button, .brewing.sub-section-text-button {
		display: none !important;
	}
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}





