

/* /////---------------------

	Global CSS

/////---------------------- */

body {
	margin: 0 auto;
	padding: 0;
}

/* /////---------------------

	Sidebar Header

/////---------------------- */

.sidebar-header-wrapper {}
.sidebar-header {
	padding: 15px 15px 25px;
	background-color: #fcfcfc;
}
.logo-wrapper {
	height: 100px;
}
.logo {
	text-align: center;
}

/* Toogle Menu */

.toggle-menu-wrapper {
	padding: 0 15px;
}
.toggle-menu-header {
	margin: 0;
    padding: 10px 0;
    border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
    color: #364a5a;
    text-align: center;
}
.toggle-menu {
	display: none;
}

/* Main Menu */

.main-menu-wrapper {}
.main-menu-header {
	margin: 0;
    padding: 10px 0;
    border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
    color: #364a5a;
    text-align: center;
}
.main-menu {}

/* Menu List */

.menu-glyph {
	font-size: 16px;
	padding-right: 5px;
}
.menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-list-item {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.menu-list-item:last-child {
	margin: 10px 0 0 0;
    padding: 10px 0;
	border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
}
.menu-list-item a {
	display: block;
    position: relative;
    padding: 15px 0 15px 25px;
    color: #364a5a;
}
.menu-list-item a:hover {
	color: white;
	background-color: #364a5a;
}
.menu-list-item a.active::before {
    content: '';
    border-left: 10px solid #ff7200;
    position: absolute;
    height: 80%;
    left: 0;
    top: 10%;
}

/* Site-Content */

.site-content {
	float: right;
	background-color: #e6e9ec;
}
.classification-shortlist {
	float: right; 
}

/* /////---------------------

	Section-Panels

/////---------------------- */

.panel {
	border: 0;
	margin-bottom: 25px;
	background-color: #fcfcfc;
	color: #364a5a;
}
.panel-default {
	max-width: 600px;
	margin: 25px auto;
}
.panel-default .panel-heading {
	width: 100%;
    margin: 0 auto;
    padding: 25px 25px 15px 25px;
    border: 0;
    background-color: #ff9435; 
	text-align: center;
}
.panel-title {
	font-size: 26px;
}
.panel-body {
	padding: 15px 25px;
    line-height: 24px;
}

/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */

/* /////---------------------

	Home Carousel

/////---------------------- */

.home-carousel {
	margin: 15px 15px 0;
}
.carousel-inner .item {
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.carousel-inner .item:first-child {
	background-image: url( http://i.imgur.com/hMGQwDJ.jpg?1 );
}
.carousel-inner .item:nth-child(2){
	background-image: url( http://i.imgur.com/NAmFwJy.jpg?1 );
}
.carousel-inner .item:nth-child(3) {
	background-image: url( http://i.imgur.com/pwcAheH.jpg?1 );
}
.carousel-inner .item:nth-child(4) {
	background-image: url( http://i.imgur.com/509f8cf.png?1 );
}
.carousel-image-overlay {
	position: absolute;
	top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.35);
}
.carousel-caption {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 25px;
    padding-right: 25px;
}
.carousel-indicators {
	position: static;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
    background-color: #364A5A;
}
.carousel-indicators .active {
	background-color: #FF7200;
	border-color: #FF7200;
}
a.btn.btn-primary:hover {
	background-color: #229bd8;
}

/* ///////////////////////////////////////////////// ------- Timeline ------- ///////////////////////////////////////////////// */

.timeline.banner {
	background-image: url(http://i.imgur.com/LxOtqxo.jpg?1);
}

/* /////---------------------

	timeline

/////---------------------- */

.timeline-prompt {
	display: none;
	padding: 5px;
    margin: 50px auto 0 auto;
    width: 330px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #364A5A;
    border: 2px solid #D9D9D9
}

.timeline-container {
	margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #e6e9ec;
 	/* overflow: scroll; */
 }

.beer-timeline {
	list-style: none;
    margin: 50px 0 30px 0px;
    margin-left: 10%;
    padding-left: 33px;
    border-left: 5px solid #D9D9D9;
}

/* radio buttons */

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  text-align: center;
  transform: translateX(34px);
}

.radio:checked + .relative .circle {
  background: #FFA500;
}

.radio:checked ~ .snapshot-content {
  max-height: 380px;
  max-width: 280px;
  border-color: #364A5A;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .snapshot-content p {
  max-height: 360px;
  color: #364A5A;
  transition: color 0.3s linear 0.3s;
}

/* Relative, Label, Date, Circle */

label {
	position: absolute;
	display: block;
	width: 180px;
	top: 15px;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	z-index: 100;
	cursor: pointer;
	border: 2px solid #D9D9D9;
	background-color: #FFA500;
	transform: translateX(18px);
	transition: transform 0.2s linear;
}

label:hover {
	background-color: #364A5A;
	color: white;
}

.date {
	position: absolute;
	width: 75px;
	padding: 2px;
	left: 20px;
    top: -25px;
	font-size: 14px;
	text-align: center; 
	line-height: 20px;
	background-color: #D9D9D9;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 18px;
    height: 18px;
    background: #364A5A;
    border: 4px solid #364A5A;
    border-radius: 50%;
    display: block;
    position: absolute;
}

/* snapshots */

.snapshot {
	width: 95%;
	margin: 50px 0;
	position: relative;
}

 .snapshot-content {
	max-height: 20px;
	padding: 50px 10px 0;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.5em;
	position: relative;
	background-color: #fcfcfc;
}

.snapshot-content::before, .snapshot-content::after {
	content: "";
	width: 0;
	height: 0;
	border: solid transparent;
	position: absolute;
	pointer-events: none;
	right: 100%;
}

.snapshot-content::before {
	border-right-color: inherit;
	border-width: 20px;
	top: 50%;
	margin-top: -20px;
}

.snapshot-content::after {
	border-right-color: #FFA500;
	border-width: 17px;
	top: 50%;
	margin-top: -17px;
}

.snapshot-content p {
  max-height: 0;
  margin: 0 0 15px;
  font-size: 14px;
  color: transparent;
  overflow: hidden;
}


/* ----------------------------------------------------- Media Queries ----------------------------------------------------- */

@media( min-width: 768px ) {
	.sidebar-header {
		position: fixed;
		height: 100vh;
		float: left;
	}
	.section-panel {
		padding: 0 45px;
	}
}

@media( min-width: 992px ) {

















