

/* /////---------------------

	Global CSS

/////---------------------- */

body {
	margin: 0 auto;
	padding: 0;
}

/* /////---------------------

	Sidebar Header

/////---------------------- */

.sidebar-header-wrapper {}
.sidebar-header {
	padding: 15px 15px 25px;
	background-color: #fcfcfc;
}
.logo-wrapper {
	height: 100px;
}
.logo {
	text-align: center;
}

/* Toogle Menu */

.toggle-menu-wrapper {
	padding: 0 15px;
}
.toggle-menu-header {
	margin: 0;
    padding: 10px 0;
    border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
    color: #364a5a;
    text-align: center;
}
.toggle-menu {
	display: none;
}

/* Main Menu */

.main-menu-wrapper {}
.main-menu-header {
	margin: 0;
    padding: 10px 0;
    border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
    color: #364a5a;
    text-align: center;
}
.main-menu {}

/* Menu List */

.menu-glyph {
	font-size: 16px;
	padding-right: 5px;
}
.menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-list-item {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.menu-list-item:last-child {
	margin: 10px 0 0 0;
    padding: 10px 0;
	border-top: 1px solid #364a5a;
    border-bottom: 1px solid #364a5a;
}
.menu-list-item a {
	display: block;
    position: relative;
    padding: 15px 0 15px 25px;
    color: #364a5a;
}
.menu-list-item a:hover {
	color: white;
	background-color: #364a5a;
}
.menu-list-item a.active::before {
    content: '';
    border-left: 10px solid #ff7200;
    position: absolute;
    height: 80%;
    left: 0;
    top: 10%;
}

/* Site-Content */

.site-content {
	float: right;
	background-color: #e6e9ec;
}
.classification-shortlist {
	float: right; 
}

/* /////---------------------

	Section-Panels

/////---------------------- */

.panel {
	border: 0;
	margin-bottom: 25px;
	background-color: #fcfcfc;
	color: #364a5a;
}
.panel-default {
	max-width: 600px;
	margin: 25px auto;
}
.panel-default .panel-heading {
	width: 100%;
    margin: 0 auto;
    padding: 25px 25px 15px 25px;
    border: 0;
    background-color: #ff9435; 
	text-align: center;
}
.panel-title {
	font-size: 26px;
}
.panel-body {
	padding: 15px 25px;
    line-height: 24px;
}

/* ///////////////////////////////////////////////// ------- Homepage ------- ///////////////////////////////////////////////// */

/* /////---------------------

	Home Carousel

/////---------------------- */

.home-carousel {
	margin: 15px 15px 0;
}
.carousel-inner .item {
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.carousel-inner .item:first-child {
	background-image: url( http://i.imgur.com/hMGQwDJ.jpg?1 );
}
.carousel-inner .item:nth-child(2){
	background-image: url( http://i.imgur.com/NAmFwJy.jpg?1 );
}
.carousel-inner .item:nth-child(3) {
	background-image: url( http://i.imgur.com/pwcAheH.jpg?1 );
}
.carousel-inner .item:nth-child(4) {
	background-image: url( http://i.imgur.com/509f8cf.png?1 );
}
.carousel-image-overlay {
	position: absolute;
	top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.35);
}
.carousel-caption {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 25px;
    padding-right: 25px;
}
.carousel-indicators {
	position: static;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
    background-color: #364A5A;
}
.carousel-indicators .active {
	background-color: #FF7200;
	border-color: #FF7200;
}
a.btn.btn-primary:hover {
	background-color: #229bd8;
}


/* ----------------------------------------------------- Media Queries ----------------------------------------------------- */

@media( min-width: 768px ) {
	.sidebar-header {
		position: fixed;
		height: 100vh;
		float: left;
	}
	.section-panel {
		padding: 0 45px;
	}
}

@media( min-width: 992px ) {

















